
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/cloud/index.html">TencentCloud Provider</a>
                </li>
                
                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/cloud/data_source/availability_regions.html">cloud_availability_regions</a>
                        </li>
                        <li>
                            <a href="/docs/providers/cloud/data_source/availability_zones.html">cloud_availability_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Auto Scaling(AS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/as_instances.html">cloud_as_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/as_last_activity.html">cloud_as_last_activity</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/as_scaling_configs.html">cloud_as_scaling_configs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/as_scaling_groups.html">cloud_as_scaling_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/as_scaling_policies.html">cloud_as_scaling_policies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_attachment.html">cloud_as_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_lifecycle_hook.html">cloud_as_lifecycle_hook</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_notification.html">cloud_as_notification</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_protect_instances.html">cloud_as_protect_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_remove_instances.html">cloud_as_remove_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_scaling_config.html">cloud_as_scaling_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_scaling_group.html">cloud_as_scaling_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_scaling_policy.html">cloud_as_scaling_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/as_schedule.html">cloud_as_schedule</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Bare Metal Server(BMS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/bms_flavors.html">cloud_bms_flavors</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/bms_instances.html">cloud_bms_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/bms_placement_groups.html">cloud_bms_placement_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/bms_instance.html">cloud_bms_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/bms_placement_group.html">cloud_bms_placement_group</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Block Storage(CBS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cbs_snapshot_policies.html">cloud_cbs_snapshot_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cbs_snapshots.html">cloud_cbs_snapshots</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cbs_storages.html">cloud_cbs_storages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cbs_storages_set.html">cloud_cbs_storages_set</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_snapshot.html">cloud_cbs_snapshot</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_snapshot_policy.html">cloud_cbs_snapshot_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_snapshot_policy_attachment.html">cloud_cbs_snapshot_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_snapshot_share_permission.html">cloud_cbs_snapshot_share_permission</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_storage.html">cloud_cbs_storage</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_storage_attachment.html">cloud_cbs_storage_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_storage_set.html">cloud_cbs_storage_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cbs_storage_set_attachment.html">cloud_cbs_storage_set_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Elastic IP(EIP)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/eip_address_quota.html">cloud_eip_address_quota</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/eips.html">cloud_eips</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/eip.html">cloud_eip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/eip_address_transform.html">cloud_eip_address_transform</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/eip_association.html">cloud_eip_association</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/eip_normal_address_return.html">cloud_eip_normal_address_return</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/eip_public_address_adjust.html">cloud_eip_public_address_adjust</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Kafka(ckafka)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_acls.html">cloud_ckafka_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_connect_resource.html">cloud_ckafka_connect_resource</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_datahub_group_offsets.html">cloud_ckafka_datahub_group_offsets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_datahub_task.html">cloud_ckafka_datahub_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_datahub_topic.html">cloud_ckafka_datahub_topic</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_group.html">cloud_ckafka_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_group_info.html">cloud_ckafka_group_info</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_group_offsets.html">cloud_ckafka_group_offsets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_instances.html">cloud_ckafka_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_region.html">cloud_ckafka_region</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_task_status.html">cloud_ckafka_task_status</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_topic_flow_ranking.html">cloud_ckafka_topic_flow_ranking</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_topic_produce_connection.html">cloud_ckafka_topic_produce_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_topic_subscribe_group.html">cloud_ckafka_topic_subscribe_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_topic_sync_replica.html">cloud_ckafka_topic_sync_replica</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_topics.html">cloud_ckafka_topics</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_users.html">cloud_ckafka_users</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/ckafka_zone.html">cloud_ckafka_zone</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_acl.html">cloud_ckafka_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_acl_rule.html">cloud_ckafka_acl_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_connect_resource.html">cloud_ckafka_connect_resource</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_consumer_group.html">cloud_ckafka_consumer_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_consumer_group_modify_offset.html">cloud_ckafka_consumer_group_modify_offset</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_datahub_task.html">cloud_ckafka_datahub_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_datahub_topic.html">cloud_ckafka_datahub_topic</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_instance.html">cloud_ckafka_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_renew_instance.html">cloud_ckafka_renew_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_topic.html">cloud_ckafka_topic</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/ckafka_user.html">cloud_ckafka_user</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Load Balancer(CLB)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_attachments.html">cloud_clb_attachments</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_certificates.html">cloud_clb_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_cluster_resources.html">cloud_clb_cluster_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_instance_by_cert_id.html">cloud_clb_instance_by_cert_id</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_instance_detail.html">cloud_clb_instance_detail</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_instances.html">cloud_clb_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_listener_rules.html">cloud_clb_listener_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_listeners.html">cloud_clb_listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_listeners_by_targets.html">cloud_clb_listeners_by_targets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_redirections.html">cloud_clb_redirections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_resources.html">cloud_clb_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_target_group_list.html">cloud_clb_target_group_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/clb_target_health.html">cloud_clb_target_health</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_attachment.html">cloud_clb_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_certificates.html">cloud_clb_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_customized_config.html">cloud_clb_customized_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_instance.html">cloud_clb_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_listener.html">cloud_clb_listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_listener_rule.html">cloud_clb_listener_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_redirection.html">cloud_clb_redirection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/clb_security_group_attachment.html">cloud_clb_security_group_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Object Storage(COS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cos_bucket_object.html">cloud_cos_bucket_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cos_buckets.html">cloud_cos_buckets</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/cos_bucket.html">cloud_cos_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cos_bucket_object.html">cloud_cos_bucket_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cos_bucket_policy.html">cloud_cos_bucket_policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Object Storage(CSP)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/csp_bucket_object.html">cloud_csp_bucket_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/csp_buckets.html">cloud_csp_buckets</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/csp_bucket.html">cloud_csp_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/csp_bucket_object.html">cloud_csp_bucket_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/csp_bucket_policy.html">cloud_csp_bucket_policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Virtual Machine(CVM)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_disaster_recover_group_quota.html">cloud_cvm_disaster_recover_group_quota</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_image.html">cloud_cvm_image</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_image_quota.html">cloud_cvm_image_quota</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_image_share_permission.html">cloud_cvm_image_share_permission</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_images.html">cloud_cvm_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_import_image_os.html">cloud_cvm_import_image_os</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_instance_types.html">cloud_cvm_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_instance_vnc_url.html">cloud_cvm_instance_vnc_url</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_instances.html">cloud_cvm_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_instances_modification.html">cloud_cvm_instances_modification</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_instances_set.html">cloud_cvm_instances_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_key_pairs.html">cloud_cvm_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/cvm_placement_groups.html">cloud_cvm_placement_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_image.html">cloud_cvm_image</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_image_share_permission.html">cloud_cvm_image_share_permission</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_instance.html">cloud_cvm_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_instance_set.html">cloud_cvm_instance_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_key_pair.html">cloud_cvm_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_launch_template.html">cloud_cvm_launch_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_placement_group.html">cloud_cvm_placement_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_reboot_instance.html">cloud_cvm_reboot_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_renew_instance.html">cloud_cvm_renew_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_security_group_attachment.html">cloud_cvm_security_group_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/cvm_sync_image.html">cloud_cvm_sync_image</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Direct Connect(DC)</a>
                    <ul class="nav">
                        
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Elasticsearch Service(ES)</a>
                    <ul class="nav">
                        
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Key Management Service(KMS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/kms_keys.html">cloud_kms_keys</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/kms_external_key.html">cloud_kms_external_key</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/kms_key.html">cloud_kms_key</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TDMQ for Pulsar(tpulsar)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_environments.html">cloud_tdmq_environments</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_pulsar_clusters.html">cloud_tdmq_pulsar_clusters</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_instance.html">cloud_tdmq_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_namespace.html">cloud_tdmq_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_namespace_role_attachment.html">cloud_tdmq_namespace_role_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_role.html">cloud_tdmq_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_route.html">cloud_tdmq_route</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_subscription_attachment.html">cloud_tdmq_subscription_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_topic.html">cloud_tdmq_topic</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TDMQ for RocketMQ(trocket)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_cluster.html">cloud_tdmq_rocketmq_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_group.html">cloud_tdmq_rocketmq_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_messages.html">cloud_tdmq_rocketmq_messages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_namespace.html">cloud_tdmq_rocketmq_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_role.html">cloud_tdmq_rocketmq_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tdmq_rocketmq_topic.html">cloud_tdmq_rocketmq_topic</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_cluster.html">cloud_tdmq_rocketmq_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_environment_role.html">cloud_tdmq_rocketmq_environment_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_group.html">cloud_tdmq_rocketmq_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_namespace.html">cloud_tdmq_rocketmq_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_role.html">cloud_tdmq_rocketmq_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_rocketmq_topic.html">cloud_tdmq_rocketmq_topic</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tdmq_send_rocketmq_message.html">cloud_tdmq_send_rocketmq_message</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TDSQL PostgreSQL (Tbase)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tbase_instances.html">cloud_tbase_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tbase_pg_instances.html">cloud_tbase_pg_instances</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/tbase_instance.html">cloud_tbase_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tbase_pg_instance.html">cloud_tbase_pg_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tbase_pg_instance_vip.html">cloud_tbase_pg_instance_vip</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TDSQL for MySQL(DCDB)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_accounts.html">cloud_dcdb_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_database_objects.html">cloud_dcdb_database_objects</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_database_tables.html">cloud_dcdb_database_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_databases.html">cloud_dcdb_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_instances.html">cloud_dcdb_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_parameters.html">cloud_dcdb_parameters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_security_groups.html">cloud_dcdb_security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/dcdb_shards.html">cloud_dcdb_shards</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_account.html">cloud_dcdb_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_account_privileges.html">cloud_dcdb_account_privileges</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_activate_hour_instance_operation.html">cloud_dcdb_activate_hour_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_cancel_dcn_job_operation.html">cloud_dcdb_cancel_dcn_job_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_db_parameters.html">cloud_dcdb_db_parameters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_db_sync_mode_config.html">cloud_dcdb_db_sync_mode_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_encrypt_attributes_config.html">cloud_dcdb_encrypt_attributes_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_flush_binlog_operation.html">cloud_dcdb_flush_binlog_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_instance.html">cloud_dcdb_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_instance_config.html">cloud_dcdb_instance_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_isolate_hour_instance_operation.html">cloud_dcdb_isolate_hour_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_security_group_attachment.html">cloud_dcdb_security_group_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/dcdb_switch_db_instance_ha_operation.html">cloud_dcdb_switch_db_instance_ha_operation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Tencent Kubernetes Engine(TKE)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tke_kubernetes_available_cluster_versions.html">cloud_tke_kubernetes_available_cluster_versions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tke_kubernetes_charts.html">cloud_tke_kubernetes_charts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tke_kubernetes_cluster_common_names.html">cloud_tke_kubernetes_cluster_common_names</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tke_kubernetes_clusters.html">cloud_tke_kubernetes_clusters</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/tke_kubernetes_cluster.html">cloud_tke_kubernetes_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tke_kubernetes_cluster_attachment.html">cloud_tke_kubernetes_cluster_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tke_kubernetes_cluster_endpoint.html">cloud_tke_kubernetes_cluster_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tke_kubernetes_scale_worker.html">cloud_tke_kubernetes_scale_worker</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Tencent Service Framework(TSF)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_application.html">cloud_tsf_application</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_application_config.html">cloud_tsf_application_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_application_file_config.html">cloud_tsf_application_file_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_application_public_config.html">cloud_tsf_application_public_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_cluster.html">cloud_tsf_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_microservice.html">cloud_tsf_microservice</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_config_summary.html">cloud_tsf_config_summary</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_delivery_config_by_group_id.html">cloud_tsf_delivery_config_by_group_id</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_delivery_configs.html">cloud_tsf_delivery_configs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_public_config_summary.html">cloud_tsf_public_config_summary</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_api_group.html">cloud_tsf_api_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_application_attribute.html">cloud_tsf_application_attribute</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_business_log_configs.html">cloud_tsf_business_log_configs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_api_detail.html">cloud_tsf_api_detail</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_microservice_api_version.html">cloud_tsf_microservice_api_version</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_repository.html">cloud_tsf_repository</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_pod_instances.html">cloud_tsf_pod_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_gateway_all_group_apis.html">cloud_tsf_gateway_all_group_apis</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_group_gateways.html">cloud_tsf_group_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_usable_unit_namespaces.html">cloud_tsf_usable_unit_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_group_instances.html">cloud_tsf_group_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_container_group.html">cloud_tsf_container_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_groups.html">cloud_tsf_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/tsf_ms_api_list.html">cloud_tsf_ms_api_list</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_cluster.html">cloud_tsf_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_microservice.html">cloud_tsf_microservice</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_config.html">cloud_tsf_application_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_api_group.html">cloud_tsf_api_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_namespace.html">cloud_tsf_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_path_rewrite.html">cloud_tsf_path_rewrite</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_unit_rule.html">cloud_tsf_unit_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_task.html">cloud_tsf_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_config_template.html">cloud_tsf_config_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_api_rate_limit_rule.html">cloud_tsf_api_rate_limit_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_release_config.html">cloud_tsf_application_release_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_lane.html">cloud_tsf_lane</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_lane_rule.html">cloud_tsf_lane_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_group.html">cloud_tsf_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application.html">cloud_tsf_application</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_public_config_release.html">cloud_tsf_application_public_config_release</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_public_config.html">cloud_tsf_application_public_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_file_config_release.html">cloud_tsf_application_file_config_release</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_instances_attachment.html">cloud_tsf_instances_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_bind_api_group.html">cloud_tsf_bind_api_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_application_file_config.html">cloud_tsf_application_file_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_enable_unit_rule.html">cloud_tsf_enable_unit_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_deploy_container_group.html">cloud_tsf_deploy_container_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_deploy_vm_group.html">cloud_tsf_deploy_vm_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_release_api_group.html">cloud_tsf_release_api_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_operate_container_group.html">cloud_tsf_operate_container_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_operate_group.html">cloud_tsf_operate_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/tsf_unit_namespace.html">cloud_tsf_unit_namespace</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TencentDB for PostgreSQL(PostgreSQL)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_backup_download_urls.html">cloud_postgresql_backup_download_urls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_base_backups.html">cloud_postgresql_base_backups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_db_instance_classes.html">cloud_postgresql_db_instance_classes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_db_instance_versions.html">cloud_postgresql_db_instance_versions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_default_parameters.html">cloud_postgresql_default_parameters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_instances.html">cloud_postgresql_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_log_backups.html">cloud_postgresql_log_backups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_parameter_templates.html">cloud_postgresql_parameter_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_readonly_groups.html">cloud_postgresql_readonly_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_recovery_time.html">cloud_postgresql_recovery_time</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_regions.html">cloud_postgresql_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_specinfos.html">cloud_postgresql_specinfos</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_xlogs.html">cloud_postgresql_xlogs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/postgresql_zones.html">cloud_postgresql_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_backup_download_restriction_config.html">cloud_postgresql_backup_download_restriction_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_backup_plan_config.html">cloud_postgresql_backup_plan_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_base_backup.html">cloud_postgresql_base_backup</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_delete_log_backup_operation.html">cloud_postgresql_delete_log_backup_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_disisolate_db_instance_operation.html">cloud_postgresql_disisolate_db_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_instance.html">cloud_postgresql_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_isolate_db_instance_operation.html">cloud_postgresql_isolate_db_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_modify_account_remark_operation.html">cloud_postgresql_modify_account_remark_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_modify_switch_time_period_operation.html">cloud_postgresql_modify_switch_time_period_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_parameter_template.html">cloud_postgresql_parameter_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_readonly_attachment.html">cloud_postgresql_readonly_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_readonly_group.html">cloud_postgresql_readonly_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_readonly_instance.html">cloud_postgresql_readonly_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_rebalance_readonly_group_operation.html">cloud_postgresql_rebalance_readonly_group_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_renew_db_instance_operation.html">cloud_postgresql_renew_db_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_restart_db_instance_operation.html">cloud_postgresql_restart_db_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/postgresql_security_group_config.html">cloud_postgresql_security_group_config</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TencentDB for Redis(crs)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_backup.html">cloud_redis_backup</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_backup_download_info.html">cloud_redis_backup_download_info</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_instance_node_info.html">cloud_redis_instance_node_info</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_instance_shards.html">cloud_redis_instance_shards</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_instance_task_list.html">cloud_redis_instance_task_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_instances.html">cloud_redis_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_param_records.html">cloud_redis_param_records</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/redis_zone_config.html">cloud_redis_zone_config</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_backup_config.html">cloud_redis_backup_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_clear_instance_operation.html">cloud_redis_clear_instance_operation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_instance.html">cloud_redis_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_param.html">cloud_redis_param</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_replica_readonly.html">cloud_redis_replica_readonly</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/redis_startup_instance_operation.html">cloud_redis_startup_instance_operation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Virtual Private Cloud DNS(VPCDNS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpcdns_domains.html">cloud_vpcdns_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpcdns_records.html">cloud_vpcdns_records</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpcdns_domain.html">cloud_vpcdns_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpcdns_record.html">cloud_vpcdns_record</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Virtual Private Cloud(VPC)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_account_attributes.html">cloud_vpc_account_attributes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_acls.html">cloud_vpc_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_address_template_groups.html">cloud_vpc_address_template_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_address_templates.html">cloud_vpc_address_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_bandwidth_package_quota.html">cloud_vpc_bandwidth_package_quota</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_classic_link_instances.html">cloud_vpc_classic_link_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_cvm_instances.html">cloud_vpc_cvm_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_dnats.html">cloud_vpc_dnats</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_enis.html">cloud_vpc_enis</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_gateway_flow_monitor_detail.html">cloud_vpc_gateway_flow_monitor_detail</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_gateway_flow_qos.html">cloud_vpc_gateway_flow_qos</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_ha_vip_eip_attachments.html">cloud_vpc_ha_vip_eip_attachments</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_ha_vips.html">cloud_vpc_ha_vips</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_instances.html">cloud_vpc_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_limits.html">cloud_vpc_limits</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_nat_gateways.html">cloud_vpc_nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_net_detect_state_check.html">cloud_vpc_net_detect_state_check</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_net_detect_states.html">cloud_vpc_net_detect_states</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_private_ip_addresses.html">cloud_vpc_private_ip_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_resource_dashboard.html">cloud_vpc_resource_dashboard</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_route_tables.html">cloud_vpc_route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_security_group_limits.html">cloud_vpc_security_group_limits</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_security_group_references.html">cloud_vpc_security_group_references</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_security_groups.html">cloud_vpc_security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_subnets.html">cloud_vpc_subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/data_source/vpc_template_limits.html">cloud_vpc_template_limits</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc.html">cloud_vpc</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_acl.html">cloud_vpc_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_acl_attachment.html">cloud_vpc_acl_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_address_template.html">cloud_vpc_address_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_address_template_group.html">cloud_vpc_address_template_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_bandwidth_package.html">cloud_vpc_bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_bandwidth_package_attachment.html">cloud_vpc_bandwidth_package_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_dc_gateway.html">cloud_vpc_dc_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_dnat.html">cloud_vpc_dnat</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_eni.html">cloud_vpc_eni</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_eni_attachment.html">cloud_vpc_eni_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_eni_sg_attachment.html">cloud_vpc_eni_sg_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ha_vip.html">cloud_vpc_ha_vip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ha_vip_eip_attachment.html">cloud_vpc_ha_vip_eip_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ipv6_address_bandwidth.html">cloud_vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ipv6_cidr_block.html">cloud_vpc_ipv6_cidr_block</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ipv6_eni_address.html">cloud_vpc_ipv6_eni_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_ipv6_subnet_cidr_block.html">cloud_vpc_ipv6_subnet_cidr_block</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_nat_gateway.html">cloud_vpc_nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_net_detect.html">cloud_vpc_net_detect</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_route_table.html">cloud_vpc_route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_route_table_entry.html">cloud_vpc_route_table_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_security_group.html">cloud_vpc_security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_security_group_lite_rule.html">cloud_vpc_security_group_lite_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_security_group_rule.html">cloud_vpc_security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_security_group_rule_set.html">cloud_vpc_security_group_rule_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/cloud/resource/vpc_subnet.html">cloud_vpc_subnet</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">t</a>
                    <ul class="nav">
                        
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
